:root {
  --dark-color: #000;
  --text-light: #f0f0f0;
  --accent-color: rgb(21, 161, 237);
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: var(--dark-color);
  color: var(--text-light);
  min-height: 100vh;
  overflow-x: hidden;
}

/* Background Animation Effect */
.night {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  filter: blur(0.1vmin);
  background-image: 
    radial-gradient(ellipse at top, transparent 0%, var(--dark-color)), 
    radial-gradient(ellipse at bottom, var(--dark-color), rgba(30, 112, 255, 0.2)), 
    repeating-linear-gradient(220deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 19px, transparent 19px, transparent 22px), 
    repeating-linear-gradient(189deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 19px, transparent 19px, transparent 22px), 
    repeating-linear-gradient(148deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 19px, transparent 19px, transparent 22px),
    linear-gradient(90deg, rgb(255, 250, 250), rgb(240, 240, 240));
  z-index: -1;
}

.container {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  visibility: hidden; /* Konten disembunyikan sampai animasi mulai */
}

.container > div {
  left: 0;
  position: absolute;
  right: 0;
  top: 20vh;
}

/* Typography Styles */
.one { font-size: 4.5rem; }
.two { font-size: 1.2rem; font-weight: lighter; }
.three { font-size: 3rem; }

/* Text Box Style */
.four .text-box {
  border: 3px solid var(--text-light);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  width: 600px;
  max-width: 90%;
}

.text-box p { margin: 0; text-align: left; }
.text-box span { visibility: hidden; }

.text-box .fake-btn {
  background-color: var(--accent-color);
  border-radius: 3px;
  bottom: -50px;
  color: #fff;
  padding: .5rem 1rem;
  position: absolute;
  right: 5px;
  cursor: pointer;
}

/* Ideas Section */
.five p { font-size: 2rem; position: absolute; left: 0; right: 0; }
.idea-3 strong {
  border-radius: 3px;
  display: inline-block;
  padding: 3px 5px;
}
.five .idea-5 { font-size: 4rem; }
.idea-5 span, .idea-6 span, .wish-hbd span { display: inline-block; }
.idea-6 span { font-size: 15rem; }

/* Profile & Wish Section */
.six {
  position: relative;
  top: 10vh;
  z-index: 1;
}
.six img.profile-picture {
  display: inline-block;
  height: 250px;
  max-width: 100%;
  border-radius: 50%; 
  border: 3px solid var(--text-light);
  object-fit: cover;
}

.wish-hbd { font-size: 3em; margin: 0; text-transform: uppercase; }
.wish h5 { font-size: 2rem; font-weight: lighter; margin: 10px 0 0; }
.nine p { font-size: 2rem; font-weight: lighter; }

/* Baloons & SVG */
.seven, .eight {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  pointer-events: none; 
}

.baloons img { display: inline-block; position: absolute; }
.baloons img:nth-child(even) { left: -10%; }
.baloons img:nth-child(odd) { right: -10%; }
.baloons img:nth-child(3n + 0) { left: 30%; }

.eight svg {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 25px;
  z-index: -1;
}

.eight svg:nth-child(1) { fill: #a31cc1a2; left: 5vw; top: 7vh; }
.eight svg:nth-child(2) { fill: #f1ee3085; left: 35vw; top: 23vh; }
.eight svg:nth-child(3) { fill: #cb141aa6; left: 23vw; top: 33vh; }
.eight svg:nth-child(4) { fill: #0073ffcb; left: 57vw; top: 43vh; }
.eight svg:nth-child(5) { fill: #c66053; left: 7vw; top: 68vh; }
.eight svg:nth-child(6) { fill: #bfaa40; left: 77vw; top: 42vh; }
.eight svg:nth-child(7) { fill: #e3bae8; left: 83vw; top: 68vh; }
.eight svg:nth-child(8) { fill: #8762cb; left: 37vw; top: 86vh; }
.eight svg:nth-child(9) { fill: #9a90da; left: 87vw; top: 94vh; }


.nine .button-wrapper {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
    position: relative;
    z-index: 10;
    opacity: 0;
    visibility: hidden; 
}

.btn-glow {
    padding: 12px 26px;
    border: 2px solid #fff;
    background: transparent;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    transition: all 0.3s ease;
    text-shadow: 0 0 5px #fff;
    text-decoration: none;
    display: inline-block;
}

.btn-glow:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 20px white;
}

/* Media Queries */
@media screen and (max-width: 500px) {
  .container { width: 95%; }
  .four .text-box { width: 95%; }
  .text-box .fake-btn { bottom: -38px; right: 5px; }
  .idea-5 span { display: block; }
  .idea-6 span { font-size: 10rem; }
  .wish-hbd { font-size: 2.2em; }
  .wish h5 { font-size: 1.4rem; }
  .nine p { font-size: 1.5rem; }
  .btn-glow { width: 80%; text-align: center; }
}

@media screen and (max-width: 768px) {
    .profile-img {
        width: 80px;  /* Ukuran lebih kecil untuk HP */
        height: 80px;
    }
}

